{% extends 'base.html.twig' %}
{% block title %}{{ slug }}{% endblock %}

{% block body %}

    <div class="media">
        <img class="align-self-start m-5" src="{{program.poster}}" alt="{{ program.title }} poster">
        <div class="media-body">
            <h1 class="m-5">{{ program.title }}</h1>
            <p>{{ program.summary }}</p>
            <p>Categorie : {{ program.category.name }}</p>
        </div>
    </div>

    <a href="{{ path('wild_index') }}">
        Back to home page
    </a>

{% endblock %}
